@mixin width($width) {
    width: $width !important;
};




#fadeMenu {
    margin: 50px 10px 0 0 !important;

    .card {
        @include width(330px);

        .signinPopup {
            @include width(300px);
            margin-top: 20px;

            .buttonText {
                text-decoration: none !important;                                                                                                                                   
            }

            .userLogo {
                @include width(30px);
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}
