#fadeMenu {
    margin: 50px 10px 0 0 !important;

    .card {
        width: 330px !important;
        

        .signinPopup {
            width: 300px !important;
            margin-top: 20px;

            .buttonText {
                text-decoration: none !important;                                                                                                                                   
            }

            .userLogo {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }
}
