.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.filter {
    margin-top: 1%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filter::-webkit-scrollbar {
    display: none;
}

.mainPage {
    display: flex;
    height: 100% !important;

    .offertsHalf {
        background-color: rgba(216, 216, 216, 0.583) !important;
        width: 100%;
        overflow-y: scroll;
        padding-bottom: 150px;
    }

    .offerFilterButtons {
        display: flex;
        margin-bottom: 10px;
    }

    .mapHalf {
        display: none;
        background-color: blue;
        width: 50%;
    }

}



@media (min-width: 1024px) {
    .offertsHalf {
        width: 50% !important;
    }

    .mapHalf {
        display: flex !important;
    }
}