.filter-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 1%;


    &__expandable-button{
        display: none !important;
        margin-left: 0.5% !important;
    }

    &__hiding{
        display: flex;
    }


    @media (min-width: 1024px) {
        &__hiding {
            display: none;
        }

        &__expandable-button{
            display: flex !important;
        }
    }
}