.navbar-container {
    display: flex;
    align-items: center;

    &__login-button {
        display: block !important;
        position: absolute !important;
        top: 5px;
        right: 60px;
    }

    &__drawer {
        display: block !important;
        position: absolute !important;
        top: 5px;
        right: 0px;
    }

    &__links {
        display: none;
        width: 100%;
        justify-content: flex-end;
        margin-right: 160px;
        align-items: center;

        &--link-offers {
            font-size: 1.4rem;
            text-decoration: none;
            color: pink;
            font-weight: bold;
        }

        &--link {
            font-size: 1.4rem;
            text-decoration: none;
            color: gray;
            font-weight: bold;
            margin-left: 30px;
            display: flex;
            align-self: center;
        }

        &--link:hover {
            color: pink;
        }
    }



    @media (min-width: 1024px) {
        &__links {
            display: flex;
            align-items: center;
        }
    }
}