@use '../variables.module'as *;

.primary-button {
    border-radius: 20px;
    width: 200px;
    margin: 20px auto 0 auto;
    text-transform: none !important;
    background-color: $primary-color;
    font-size: 1.5rem;
}