.signin-button {
    margin: 2.5% 5% !important;
    width: 90%;
    height: 80px;
    border-radius: 3px;
    border: 2px solid gray !important;
    text-align: center;
    line-height: 80px;
    background-color: white !important;
}