@use '../../../Styles/variables.scss'as *;

.container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 1%;

    .expandableButton {
        display: none !important;
        align-self: center;
        margin: 0 10px;
        min-width: 100px;

    }

    .expandableButtonHiding {
        display: flex;
    }

    @media (min-width: 1024px) {
        .expandableButtonHiding {
            display: none;
        }

        .expandableButton {
            display: flex !important;
        }
    }


    .button {
        margin-right: 5px !important;
        color: $secondary-color;
        align-self: center;
        min-width: 100px !important;

    }

    .moreFiltersButton {
        display: none;
        align-self: center;
        margin: 0 20px;
        min-width: 150px !important;

        i {
            margin-right: 5px;
        }
    }

    @media (min-width: 1024px) {
        .moreFiltersButton {
            display: flex;
        }
    }
}