@use '../../../../Styles/variables.scss'as *;


.pageContainer {
    display: none;

    .buttonsContainer {
        display: flex;

        div {
            flex-direction: column;
            display: flex;
            border-radius: 50%;
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: 18px;
                align-self: center;
            }

            p {
                padding-left: 18px !important;
                // text-align: center;
                padding-left: 10px;
                margin: 0 !important;
                color: $secondary-color;
                align-self: center;
            }
        }
    }
}



@media (min-width: 1024px) {
    .pageContainer {
        display: flex !important;

    }
}