.accordionTitle {
    width: 100% !important;
    padding: 0 !important;

    .accordionButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


// WSZYSTKO DO OSTYLOWANIA