@use '../../../Styles/variables.scss'as *;

.infoPanels {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(202, 202, 202);

    .panelLogo {
        display: flex;
        align-self: center;
        height: 50%;
        width: 50%;
        margin: 0 auto;
    }

    .informations {
        font-size: 1.5rem;
        font-weight: bold;
        color: $secondary-color;
    }

    .headerInformations {
        color: $brighter-secondary-color;
    }
}



@media (min-width: 1024px) {
    .infoPanels {
        justify-content: space-evenly;

        .offerPanel {
            display: flex;
            width: 24.5%;
            height: 80px;

            .panelLogo {
                display: flex;
                align-self: center;
                height: 50%;
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}