.componentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: 25%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(255, 82, 82);

    p {
        padding: 5px 20px;
        color: white;

        h3 {
            margin-bottom: 30px;
            font-size: 1.3rem;

            .agreementStyle {
                font-weight: 300;
            }
        }

    }

    .aboutCompany {
        display: flex;
        width: 100%;

        .logoContainer {
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            height: 100px !important;
            width: 100px !important;
            margin: 11px 10px 0 10px;


            .logo {
                height: 100px !important;
                width: 100px !important;
            }
        }



        .companyInfo {
            color: white;

            .title {
                font-size: 2rem;
            }

            .street {
                margin-top: -5px;
                font-size: 1.2rem;
            }

            p {
                padding: 0;
            }

            div {
                font-size: 1.2rem;
                text-align: center;
                height: 18px;
                width: 85px !important;
                border-radius: 2px;
                background-color: white;
                color: rgb(255, 82, 82);
                font-weight: bold;
            }
        }

    }

}