.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(143, 143, 143, 0.616);
    background-color: white;

    .logoMottoContainer {
        display: flex;
        padding-left: 20px;

        .logo {
            padding-bottom: 0.5%;
            font-size: 2.5rem;
            text-decoration: none !important;
            font-weight: bold;
            color: #202020cf !important;
        }

        .motto {
            display: none;
            align-items: center;
            margin-left: 5%;
            width: 200px;
            color: #808080ca;
        }
    }

    .linksButtonsContainer {
        display: flex;
        justify-content: flex-end;
        width: 70%;

        .navbarButtons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 2%;

            .mainButton {
                display: none;
                width: 150px !important;
            }

            .signinButton {
                display: flex;
                align-self: center;
                margin: auto 2% !important;
                width: 150px !important;
                margin: 8% 2% !important;
            }

            .navbarDrawer {
                display: flex;
                justify-content: center !important;
                align-self: center !important;
                height: 100% !important;
                margin-left: 5%;
                border-left: 1px solid gray !important;
            }
        }


        .links {
            display: none;
            justify-content: flex-end;
            align-items: center;

            .linkOffers {
                text-align: center;
                color: #ff5387 !important;
            }
        }

    }
}



@media (min-width: 1024px) {

    .links {
        display: flex !important;
    }

    .mainButton {
        display: flex !important;
    }

    .motto {
        display: flex !important;
    }


}