@use '../../../../../Styles/variables.scss' as *;


.requirements{
display: flex;

    .requirement {
        display: none;
        background-color: white;
        padding: 0 5px;
        border-radius: 10px;
        margin-left: 5px;
        border: 1px solid $brighter-secondary-color;
        color: $brighter-secondary-color;
    }


    
    @media (min-width: 1024px) {
        .requirement {
            display: flex !important;
        }
    }
}


.hiding{
    display: none;
}

