@use '../../Styles/variables.scss' as *;

@mixin buttonStyles ($height, $width, $color, $fontSize, $fontWeight, $bgc){
    border-radius: 50px !important;
    height: $height !important; 
    color: $color !important;
    width: $width !important;
    font-size: $fontSize !important;
    font-weight: $fontWeight !important;
    text-transform: none !important;
    background-color: $bgc !important;
};

.mainButton {
@include buttonStyles(40px, 120px, white, 1.2rem, bold, $primary-color);
}

.outlinedButton {
    @include buttonStyles(40px, 120px, $secondary-color, 1.2rem, bold, white);
}

.socialButton {
    @include buttonStyles(45px, 80%, $secondary-color, 1.1rem, normal, white);
    border: 1px solid $brighter-secondary-color !important;
    box-shadow: none !important;
}

.listItem {
    @include buttonStyles(40px, 100%, $secondary-color, 1.2rem, normal, white);
    border-radius: none;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}