.GridContainer {
    width: 95% !important;
    margin: auto !important;

    .HeaderText {
        margin-top: 5vh !important;
        text-align: center !important;
        align-items: center !important;
    }

    .SocialButtonsContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .MuiButton-root {
        //social buttons
        background-color: white;
        margin-top: 1vh;
        box-shadow: none;
        border: 1px solid rgba(128, 128, 128, 0.426);
        border-radius: 50px;
        text-transform: none;
        display: flex;
    }


    p {
        margin-top: 2vh;
        text-align: center !important;
        align-items: center !important;
    }

    .Textfield {
        margin: 0 5% !important;
        width: 100% !important;
        display: flex;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 71, 101);
    }



    .SigninRegisterButton {
        border-radius: 20px;
        width: 70%;
        margin: 7vh auto 10vh auto;
        text-transform: none !important;
    }

    .TextfieldContainer {
        display: flex;
        // justify-content:flex-start;
        align-items: center;
        margin: 2%;
    }

    i {
        display: flex;
        color: rgba(128, 128, 128, 0.426);
        font-size: 20px;
    }

    @media screen and (min-width: 500px) {
        .Textfield {
            margin: 0 2% !important;
        }

    }

    @media screen and (min-width: 600px) {
        .MuiButton-root {
            width: 70%;
            margin: 1vh auto;
            border: 1px solid rgba(128, 128, 128, 0.426);
            border-radius: 50px;
            text-transform: none;
        }

        .TextfieldContainer {
            margin: 1vh auto !important;
            width: 50% !important;

        }

        .SigninRegisterButton {
            width: 30%;
            margin: 5vh auto 5vh auto;
        }
    }

    @media screen and (min-width: 800px) {
        .SocialButtonsContainer {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .MuiButton-root {
            //social buttons
            margin: 1vh 1%;
            flex-basis: 40%;
        }

        .HeaderText {
            margin: 10vh auto 5vh !important;
            text-align: center !important;
            align-items: center !important;
        }
    }

}


@media screen and (min-width: 900px) {

    .GridContainer {
        width: 50% !important;
        // background-color: blue;
        margin: 0 !important;
        border-right: 1px solid gray;
        min-height: 100vh;
    }
}