.GridContainer{
    width: 95% !important;
    // background-color: blue;
    margin:auto !important;
    height: 100vh;

    .HeaderText{
        margin-top: 5vh !important;
        text-align: center !important;
        align-items: center !important;
    }

    p{
        text-align: center !important;
        align-items: center !important;
    }

    .Textfield{
        margin: 3vh auto 0 !important;
        width: 100% !important;
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 71, 101);
    }
}



