.main-page-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.filter {
    margin-top: 1%;
}

.main-page {
    display: flex;
    height: 100% !important;

    .offerts-half {
        background-color: red;
        width: 100%;

    }

    .map-half {
        display: none;
        background-color: blue;
        width: 50%;

    }

    @media (min-width: 1024px) {

        .offerts-half {
            width: 50%;
        }

        .map-half {
            display: flex;
        }
    }

}