.signinButton {
    margin: 2.5% 5% !important;
    width: 90%;
    height: 80px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.438) !important;
    text-align: center;
    line-height: 80px;
    background-color: white !important;
    box-shadow: none !important;
    text-transform: none !important;
    font-weight: bold !important;
    font-size: 1.4rem !important;
    color: rgba(88, 88, 88, 0.884) !important;
    text-decoration: none !important;
}
