.main-button {
    border-radius: 50px !important;
    width: 120px !important;
    text-transform: none !important;
    background-color: #ff5387 !important;
    font-size: 1.5rem !important;
    color: white !important;
    height: 40px !important;
}