.outlined-button {
    border-radius: 50px !important;
    height: 40px !important;
    width: 120px;
    background-color: white;
    font-size: 1.3rem;
    font-size: 1.5rem !important;
    text-transform: none !important;
    font-weight: 600 !important;
    color: gray !important;
}